
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:300,300i,400,400i,500,500i,700,700i");
/*Color Variables*/
::selection {
  background-color: #3178C6;
  color: #FFFFFF;
}


p {
  font-family: "Roboto", sans-serif;
  line-height: 26px;
  color: black;
  margin: 0;
  padding-top: 28px;
}


.title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.titleline {
  width: 5%;
  margin-left: auto;
  margin-right: auto;
}


/* Subtittle */
.subtittle h2 {
  font: 700 36px "Roboto", sans-serif;
  color: #222222;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}
.subtittle h2:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80px;
  background: #222222;
  left: 0;
  bottom: -22px;
}
.subtittle h5 {
  font: 400 14px "Roboto", sans-serif;
  color: #555555;
  padding-top: 22px;
}

/* Button */
.contactbtn {
  font: 700 18px/59px "Roboto", sans-serif;
  width: 180px;
  text-align: center;
  background: #3178C6;
  display: block;
  border: 0;
  color: white;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.contactbtn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #222222;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  transform: scaleY(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.contactbtn:hover, .button_all:focus {
    color: #fff !important;
}
.contactbtn:hover:before, .button_all:focus:before {
    transform: scaleY(1);
}


.about_us_area .about_row {
  padding-top: 70px;
  padding-bottom: 70px;
  font: 400 14px/26px "Roboto", sans-serif;
  color: black;
  padding-top: 28px;
  max-width: 100%;
}
.about_row .about_client {
  padding-top: 7px;
}
.about_row .about_client img {
  max-width: 100%;
}
.about_row .our_skill_inner .single_skill h3 {
  font: 700 18px "Roboto", sans-serif;
  color: #222222;
  padding-bottom: 8px;
}
.about_row .our_skill_inner .single_skill .progress {
  background: #f5f5f5;
  box-shadow: none;
  height: 8px;
  width: 100%;
  overflow: visible;
  border-radius: 0;
  position: relative;
  margin-bottom: 40px;
}
.about_row .our_skill_inner .single_skill .progress .progress-bar {
  background: #3178C6;
  box-shadow: none;
}
h3 {
  text-align: left;
  margin-left: 0;
  margin-right: auto;
}


.about_us_area .about_row .our_skill_inner .single_skill .progress .progress-bar .progress_parcent {
  font: 700 18px "Roboto", sans-serif;
  color: #222222;
  position: absolute;
  right: 0;
  top: -30px;
}
.about_us_area .about_us2_pages {
  padding-top: 90px;
}


.profile {
  font: 400 14px/26px "Roboto", sans-serif;
  color: #555555;
  padding-top: 28px;
}

.centering{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font: 700 36px "Roboto", sans-serif;
  color: #222222;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.teamstuff {
  text-align: center;
  font: 400 18px "Roboto", sans-serif;
  text-transform: uppercase;
  color: #555555;
  padding-top: 28px;
}

.memberships{
  font: 400 18px "Roboto", sans-serif;
  text-transform: uppercase;
  color: #555555;
  padding-top: 28px;
}

.short {
  width: 15%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0, 0, 0);
}

/* membership area styling */
.membershiparea {
  text-align: center;
}

.imgmemb {
  margin: 50px;
  box-shadow: 3px 7px 8px 3px #888888;
  transition: all .2s ease-in-out;
}
.imgmemb:hover {
  transform: scale(1.1);
}

.teampic {
  margin-top: 50px;
  box-shadow: 3px 7px 8px 3px #888888;
}


/* Our Partners Area */
.our_partners_area {
  background: #f5f5f5;
}
.our_partners_area .partners {
  padding-top: 60px;
  padding-bottom: 90px;
}
.our_partners_area .partners .item img {
  width: 100%;
}
.our_partners_area .book_now_aera {
  background: #3178C6;
  padding: 50px 0;
  color: white;
}
.our_partners_area .book_now_aera .book_now .booking_text {
  padding-top: 8px;
}
.our_partners_area .book_now_aera .book_now .booking_text h4 {
  font: 700 18px "Roboto", sans-serif;
  color: white;
}
.our_partners_area .book_now_aera .book_now .booking_text p {
  font: 400 14px/26px "Roboto", sans-serif;
  color: white;
  padding-top: 5px;
}
.our_partners_area .book_now_aera .book_now a {
  width: 200px;
  background: white;
  border-radius: 10px;
  color: #fff;
}

.communityarea {
  color: white;
  font: 400 14px/26px "Roboto", sans-serif;
}

/* End Our Partners Area */

/*--------------------------------------------------*/
.our_team_area {
  padding-bottom: 70px;
  background: #fefefe;
}
.our_team_area .team_row {
  padding-top: 70px;
}
.our_team_area .team_row .team_membar {
  height: 378px;
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.our_team_area .team_row .team_membar img {
  max-width: 100%;
}
.our_team_area .team_row .team_membar .team_content {
  background: #3178C6;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}
.our_team_area .team_row {
  padding: 0;
  margin: 0;
  height: 0px;
  overflow: hidden;
  transition: all 300ms linear 0s;
}
.our_team_area .team_row .team_membar .team_content ul li {
  list-style: none;
  padding-left: 20px;
  display: inline-block;
}
.our_team_area .team_row .team_membar .team_content ul li:first-child {
  padding: 0;
}
.our_team_area .team_row .team_membar .team_content ul li a {
  font-size: 14px;
  color: #fff;
  line-height: 43px;
  width: 45px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
  display: block;
}
.our_team_area .team_row .team_membar .team_content ul li a:hover, .our_team_area .team_row .team_membar .team_content ul li a:focus {
  color: #3178C6;
  background: #fff;
}
.our_team_area .team_row .team_membar .team_content .name {
  font: 700 14px "Roboto", sans-serif;
  color: #fff;
  display: block;
  text-transform: uppercase;
  padding-top: 10px;
}
.our_team_area .team_row .team_membar .team_content h6 {
  font: 400 14px "Roboto", sans-serif;
  color: #fff;
  padding-top: 5px;
}
.our_team_area .team_row .team_membar:hover .team_content ul, .our_team_area .team_row .team_membar:focus .team_content ul {
  height: 50px;
}

/*--------------------------------------------------*/