.sup {
    background-color: #3178C6;
    width: 100vw;
    /* padding-top: px; */
    padding-bottom: 25px;
    margin-top: 10vh;
}

.loginarea {
    /* background-color: #3178C6; */
    margin-top: 60px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    /* border-radius: 25px;
    border: 5px solid #409cff; */
}
@media (max-width: 600px) {
    .loginarea {
      width: 85%;
    }
  }
 
h3 {
    color: white;
    text-align: center;
}

label {
    color: white;
}

#loginbtn {
    font: 700 18px "Roboto", sans-serif;
    text-align: center;
    /* background: #f6b60b; */
    display: block;
    margin-right: 10px;
    border: 1px solid white;
    color: #3178C6;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    padding: 10px;
  }
  
#loginbtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color:black;
    color: #3178C6;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    right: 0;
    transform: scaleY(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
#loginbtn:hover,
 #loginbtn:focus {
    color: #fff !important;
  }
 #loginbtn:hover:before,
 #loginbtn:focus:before {
    transform: scaleY(1);
  }

.qs{
    text-align: center;
}