.footer {
  background-color: #2663a5;
  color: white;
  position: relative;
  height: 100px;
}

#upperFooter {
  background-color: #3178c6;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  padding-top: 30px;
}

.footerText {
  color: white;
  margin-bottom: 12px;
}

#copyright {
  margin: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#facebook-link {
  padding-right: 10px;
}

#twitter-link {
  padding-right: 10px;
}

#facebooklogo {
  color: white;
}

#twitterlogo {
  color: white;
}

#facebooklogo:hover {
  color: #3178c6;
}

#twitterlogo:hover {
  color: #3178c6;
}

.button_social {
  font: 700 18px/59px "Roboto", sans-serif;
  width: 45px;
  height: 45px;
  text-align: center;
  /* background: #f6b60b; */
  display: block;
  margin-right: 10px;
  border: 1px solid white;
  color: #222222;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  padding: 0;
}
.button_social:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  transform: scaleY(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.button_social:hover,
.button_social:focus {
  color: #fff !important;
}
.button_social:hover:before,
.button_social:focus:before {
  transform: scaleY(1);
}
